* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-image: url('./Images/luxury\ building\ 1.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden
}

.logo {
  width: auto;
}

.block-one {
  position: absolute;
  top: 0;
  bottom: 0;
  background: red;
  left: 0%;
  right: 80%;
}

.object {
  transition: all 2s ease-in-out;
}

.move-to-right {
  transform: translate(101vw, 0)
}